<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>SafeVault - Verification</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/signin.css' %}">
</head>
<body>
    <strong id="msg">{{message}}</strong>
    <div class="login-container">
        <h1>Update Password</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" id="user" name="password" placeholder="Enter new password..." required>
            <button>Update</button>
        </form>
    </div>
</body>
<script>
        function removeElementAfterTime(elementId, duration) {
            const element = document.getElementById(elementId);
            if (element) {
                setTimeout(() => {
                    element.style.display = "none";
                }, duration);
            }
        }
        removeElementAfterTime('msg', 2000);
</script>
</html>
